<!DOCTYPE html>
<html>
<head>
    <title>Elections</title>
    <style>
body { font-family: Arial; margin: 0; background: #f4f6f9; }

.navbar {
    background: #2c3e50;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar-left {
    font-size: 18px;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right span {
    margin-right: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}
</style>
</head>

<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="navbar-left">Voting System</div>

    <div class="navbar-right">
        <span>Hi, {{ request.user.username }}</span>
        <a href="{% url 'dashboard' %}">Home</a>
        <a href="/elections/">Elections</a>
        <a href="{% url 'update_profile' %}">Update Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>

<div style="padding:30px;">
    <h2>Available Elections</h2>

    <div style="display:flex; flex-wrap:wrap; gap:20px;">
        {% for election in elections %}
        <div style="width:250px; background:white; padding:10px; border-radius:10px;">
            <img src="https://tse4.mm.bing.net/th/id/OIP.1xD2jJxW-vwgnZexL0njuAHaEK?pid=Api&P=0&h=220" width="100%">

            <h3>{{ election.title }}</h3>

            <a href="{% url 'candidate_list' election.id %}">See Candidates</a>

            {% if request.user.profile.role == 'admin' %}
            <br>
            <a href="{% url 'results' election.id %}">Results</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>