<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Details</title>
</head>
<body>
    <h2>Update Profile</h2>

<form method="post">
    {% csrf_token %}

    <label>New Password:</label><br>
    <input type="password" name="password"><br><br>

    <label>Address:</label><br>
    <textarea name="address"></textarea><br><br>

    <button type="submit">Update</button>
</form>

<a href="{% url 'dashboard' %}">Back</a>
</body>
</html>